@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
    font-family: 'Sora';
    color: #18181B;
}

body {
    background-color: #FAFAF9;
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
}


@media (min-width: 800px) {
    /* general grid setup, 2 column */
    body {
        background-color: yellow;
        overflow-y: hidden;


        /*grid display setup*/
    
        display: inline-grid;
        justify-content: center;
        grid-template-columns: 500px 550px;
        grid-template-rows: 100vh;
        grid-column-gap: 32px;

    }

    .col-2 {
        display: inline-block;
        align-self: center;
      
    }

    h1 {
        font-size: 36px;
    }


    /* review section styling */
    section {
        display: inline-block;
        background-color: #FFFFFF;
        box-shadow: 1px 1px 20px #D4D4D8;
        width: 350px;
        height: auto;

        border-radius: 10px;
        padding: 35px;
        margin-bottom: 50px;

    }

    section .review {
        color: #52525A;
        line-height: 30px;
        padding-top: 5px;
        font-size: 16px;
    }

    .section-head {
        height: 25px;
        display: flex;
        vertical-align: middle;
        
    }

    .rating {
        margin-left: 20px;

    }

    .name {
        font-size: 14px;
        font-weight: bold;
        padding-top: 15px;
    }

    .wrap-right {
        float: right;
    }

    .wrap-left {
        float: left;
    }


    .star-pin svg {
       position: relative;
    }

    .star-pin img {
        position: absolute;
    }



}



